:root {
  --primary-color: rgb(20, 29, 56);
  --secondary-color: rgb(115, 137, 164);
  --background-color: rgb(226, 231, 250);
  --input-background: rgb(244, 244, 245);
  --button-background: rgb(104, 77, 244);
  --button-hover: var(--primary-color);
  --text-color: var(--input-background);
  --error-color: red;
  --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 3rem;
  color: var(--primary-color);
}

.formContainer {
  width: 44rem;
  padding: 3rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--background-color);
  color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

.textInput {
  padding: 1rem;
  background-color: var(--input-background);
  border: none;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.btnContainer {
  width: 12rem;
  height: 3rem;
  align-self: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-background);
  color: var(--text-color);
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  transition: background-color 0.4s ease-in-out;

  &:hover {
    background-color: var(--button-hover);
  }
}

.linkContainer {
  padding-top: 1rem;

  a {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.error {
  color: var(--error-color);
  align-self: center;
}
